/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: #505CCD;
$logo-font: 'Girassol', cursive;
$logo-color: #EFE043;

body {
  display: flex;
  background-color: $primary-background;
}

.logo-bg {
  margin: auto;
  margin-top: 50px;
  background-image: radial-gradient(#f4eeb7 10%, transparent 20%),
  radial-gradient(#f4eeb7 10%, transparent 20%);
  background-position: 5 5, 60px 50px;
  background-size: 50px 50px;
  border: 1px solid gold;
  border-radius: 100px;
  width: 600px;
  height: 200px;
  animation: animatedBackground 5s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0, 50px 50px;
  }
  to {
    background-position: 0 0, 100px 100px;
  }
}

.logo {
  color: $logo-color;
  font-family: $logo-font;
  border-radius: 10px;
  font-size: 4em;
  text-align: center;
}

.ff-logo {
  text-shadow: 0px 0px 5px #000000;
  margin-top: 40px;
}